[submodule "hugo-PaperMod"]
	path = hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/theme-hugo-papermod"]
	path = themes/theme-hugo-papermod
	url = https://github.com/miguo-app/theme-hugo-papermod.git
